{{template "base/header" .}}
<link rel="shortcut icon"
      href="{{.PageUser.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200"/>
<link rel="apple-touch-icon"
      href="{{.PageUser.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200"/>
<link rel="icon" sizes="192x192"
      href="{{.PageUser.Avatar}}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200">
<div class="uk-card uk-card-default uk-text-center">
  <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
       data-src="{{ .PageUser.Background }}?x-oss-process=image/format,png"
       uk-img>
    <div class="uk-card-body">
      <img class="uk-border-circle uk-box-shadow-large"
           src="{{ .PageUser.Avatar }}?x-oss-process=image/auto-orient,1/quality,q_70/sharpen,200/resize,limit_0,m_fill,w_200,h_200/format,png"
           width="100" height="100">
      <h3 id="usernamecolor">{{ .PageUser.Name }}</h3>
      <p id="introcolor">{{ .PageUser.Intro }}</p>
        <div class="icon-container">
        {{ if ne  .PageUser.Acfunlink "none" }}
         <a href="https://{{.PageUser.Acfunlink}}" target="_blank">
          <img src="https://r2.337845818.best/tamabox/icon/social/ailicili.png" alt="acfunlink" class="icon">
         </a>
        {{ end }}
        {{ if ne  .PageUser.Bililink "none" }}
         <a href="https://{{.PageUser.Bililink}}" target="_blank">
          <img src="https://r2.337845818.best/tamabox/icon/social/bili.png" alt="bililink" class="icon">
         </a>
        {{ end }}
        {{ if ne  .PageUser.Weibolink "none" }}
         <a href="https://{{.PageUser.Weibolink}}" target="_blank">
          <img src="https://r2.337845818.best/tamabox/icon/social/weibo.png" alt="weibolink" class="icon">
         </a>
        {{ end }}
        {{ if ne  .PageUser.Bloglink "none" }}
          <a href="https://{{.PageUser.Bloglink}}" target="_blank">
           <img src="https://r2.337845818.best/tamabox/icon/social/blog.png" alt="bloglink" class="icon">
         </a>
        {{ end }}
        </div>
    </div>
  </div>
</div>
<script>
document.getElementById("usernamecolor").style.color = {{.PageUser.Usernamecolor}};
document.getElementById("introcolor").style.color = {{.PageUser.Introcolor}};
</script>
<div>
  <div class="uk-card uk-card-default uk-card-small uk-card-body">
    {{ if .CanAsk }}
    <script src="https://r2.337845818.best/tamabox/cdn/js/remake/jquery.min.js"></script>
    <script src='https://r2.337845818.best/tamabox/cdn/js/remake/easy.qrcode.min.js' type="text/javascript"  charset="utf-8"></script>
    <center><div id="boxqrimg"></div></center>
    <script type="text/javascript">
        // Options
        var options = {
            text: window.location.href,
            width: 200,
            height: 200,
            colorDark: "{{.PageUser.Qrcodebackcolor}}",
            colorLight: "{{.PageUser.Qrcodecolor}}",
            dotScale: "{{.PageUser.Dotscale}}",
            dotScaleTiming: "{{.PageUser.Dotscale}}",
            dotScaleA: "{{.PageUser.Dotscale}}",
            correctLevel: QRCode.CorrectLevel.H,
            crossOrigin: 'anonymous',
            logo: {{.PageUser.Avatar}},
            logoWidth: 60,
            logoHeight: 60,
            logoBackgroundTransparent: true,
            backgroundImage: {{.PageUser.BackgroundImage}},
            backgroundImageAlpha: {{.PageUser.Backgroundimagealpha}},
            autoColor: true,
            PO: "{{.PageUser.Qrcodepdpcolor}}",
            PI: "{{.PageUser.Qrcodepdpcolor}}",
            AO: '',
            AI: '',
            timing: "{{.PageUser.Qrcodepdpcolor}}"
        };
        
        // Create QRCode Object
        new QRCode(document.getElementById("boxqrimg"), options);
    </script>

    <p class="uk-text-center uk-text-small">扫码向@{{ .PageUser.Name }}提问<br>谁都可以以匿名的形式提问</p>
    {{ end }}
    {{template "base/alert" .}}
    {{template "question/new-question-template" .}}

    <hr class="uk-divider-icon">
    {{ if ne (len .PageQuestions) 0 }}
    <p class="uk-text-left uk-text-muted uk-text-small">@{{ .PageUser.Name }} 以前回答过的问题 ({{ .AnsweredCount }})</p>
    {{ template "question/history-template" . }}
    {{ end }}
  </div>
 <div id="waline"></div>
 <script>
     const waline = Waline.init({
         el: '#waline',
         //后端服务器地址
         serverURL: 'https://artalk.tama.guru',
         path: window.location.href,
             // 中文默认
         locale: {
           nick: '昵称',
           nickError: '昵称不能少于3个字符',
           mail: '邮箱',
           mailError: '请填写正确的邮件地址',
           link: '网址',
           optional: '可选',
           placeholder: '欢迎评论（需要手工审核，不会立即展现）',
           sofa: '来发评论吧~',
           submit: '提交',
           like: '喜欢',
           cancelLike: '取消喜欢',
           reply: '回复',
           cancelReply: '取消回复',
           comment: '评论',
           refresh: '刷新',
           more: '加载更多...',
           preview: '预览',
           emoji: '表情',
           uploadImage: '上传图片',
           seconds: '秒前',
           minutes: '分钟前',
           hours: '小时前',
           days: '天前',
           now: '刚刚',
           uploading: '正在上传',
           login: '登录',
           logout: '退出',
           admin: '博主',
           sticky: '置顶',
           word: '字',
           wordHint: '评论字数应在 $0 到 $1 字之间！\n当前字数：$2',
           anonymous: '无名小狼',
           level0: '潜水',
           level1: '冒泡',
           level2: '吐槽',
           level3: '活跃',
           level4: '话痨',
           level5: '传说',
           gif: '表情包',
           gifSearchPlaceholder: '搜索表情包',
           profile: '个人资料',
           approved: '通过',
           waiting: '待审核',
           spam: '垃圾',
           unsticky: '取消置顶',
           oldest: '按倒序',
           latest: '按正序',
           hottest: '按热度',
           reactionTitle: '你觉得ta的回答怎么样？',
           reaction0: '赞',
           reaction1: '啥玩意',
           reaction2: '不行',
           reaction3: '流汗',
           reaction4: '生气',
           reaction5: '流鼻血',
         },
         reaction: [
          'https://r2.337845818.best/tamabox/icon/waline/client/images/acfun_damuzhi.png',
          'https://r2.337845818.best/tamabox/icon/waline/client/images/acfun_yihuo.png',
          'https://r2.337845818.best/tamabox/icon/waline/client/images/acfun_buxing.png',
          'https://r2.337845818.best/tamabox/icon/waline/client/images/acfun_liuhan.png',
          'https://r2.337845818.best/tamabox/icon/waline/client/images/acfun_shengqi.png',
          'https://r2.337845818.best/tamabox/icon/waline/client/images/acfun_bixue.png',
         ],
         meta: ['nick','mail'],
         requiredMeta: ['mail'],
         pageview: true,
         search: false,
         comment: false,
         login: 'disable',
         wordLimit: 50,
         pageSize: 5,
         avatar: 'monsterid',
         emoji: [
             'https://gcore.jsdelivr.net/gh/tamakyi/emoji-collection@main/acfun-classic/60x60',
         ],
         //禁止图片上传按钮
         imageUploader: false,
         //不显示版权标志
         copyright: false,
     });
 </script>
</div>
{{template "base/footer" .}}
