{{template "base/header" .}}
<!--<link rel="stylesheet" href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/uikit/3.3.3/css/uikit.min.css">-->
<link rel="shortcut icon"
      href="{{.PageUser.Avatar}}"/>
<link rel="apple-touch-icon"
      href="{{.PageUser.Avatar}}"/>
<link rel="icon" sizes="192x192"
      href="{{.PageUser.Avatar}}">
<div class="uk-card uk-card-default uk-text-center">
  <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
       data-src="{{ .PageUser.Background }}?x-oss-process=image/format,png"
       uk-img>
    <div class="uk-card-body">
     <div id="circle-container" class="uk-border-circle" style="width: 100px; height: 100px; position: relative;">
      <img id="dynamic-image" class="uk-border-circle uk-box-shadow-large" src="{{ .PageUser.Avatar }}" style="max-width: 100%; max-height: 100%; position: absolute; top: 25%;">
     </div>
      <h3 id="usernamecolor">{{ .PageUser.Name }}</h3>
      <p id="introcolor">{{ .PageUser.Intro }}</p>
        <div class="icon-container">
        {{ if ne  .PageUser.Acfunlink "none" }}
         <a href="https://{{.PageUser.Acfunlink}}" target="_blank">
          <img src="https://r2.337845818.best/tamabox/icon/social/ailicili.png" alt="acfunlink" class="icon">
         </a>
        {{ end }}
        {{ if ne  .PageUser.Bililink "none" }}
         <a href="https://{{.PageUser.Bililink}}" target="_blank">
          <img src="https://r2.337845818.best/tamabox/icon/social/bili.png" alt="bililink" class="icon">
         </a>
        {{ end }}
        {{ if ne  .PageUser.Weibolink "none" }}
         <a href="https://{{.PageUser.Weibolink}}" target="_blank">
          <img src="https://r2.337845818.best/tamabox/icon/social/weibo.png" alt="weibolink" class="icon">
         </a>
        {{ end }}
        {{ if ne  .PageUser.Bloglink "none" }}
          <a href="https://{{.PageUser.Bloglink}}" target="_blank">
           <img src="https://r2.337845818.best/tamabox/icon/social/blog.png" alt="bloglink" class="icon">
         </a>
        {{ end }}
        </div>
    </div>
  </div>
</div>
<script>
document.getElementById("usernamecolor").style.color = {{.PageUser.Usernamecolor}};
document.getElementById("introcolor").style.color = {{.PageUser.Introcolor}};
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var container = document.getElementById('circle-container');
        var image = document.getElementById('dynamic-image');
        var aspectRatio = image.naturalWidth / image.naturalHeight;
        var containerAspectRatio = container.offsetWidth / container.offsetHeight;    

        if (aspectRatio != containerAspectRatio) {
            image.style.height = '100%';
            image.style.width = 'auto';
            image.style.left = '105%';
        } else {
            image.style.width = '100%';
            image.style.height = 'auto';
            image.style.left = '0%';
        }
        image.style.borderRadius = '50%';
    });
</script>
<div>
  <div class="uk-card uk-card-default uk-card-small uk-card-body">
    {{ if .CanAsk }}
    <script src="https://r2.337845818.best/tamabox/cdn/js/remake/jquery.min.js"></script>
    <script src='https://r2.337845818.best/tamabox/cdn/js/remake/easy.qrcode.min.js' type="text/javascript"  charset="utf-8"></script>
    <center><div id="boxqrimg"></div></center>
    <script type="text/javascript">
        // Options
        var options = {
            text: window.location.href,
            width: 200,
            height: 200,
            colorDark: "{{.PageUser.Qrcodebackcolor}}",
            colorLight: "{{.PageUser.Qrcodecolor}}",
            dotScale: "{{.PageUser.Dotscale}}",
            dotScaleTiming: "{{.PageUser.Dotscale}}",
            dotScaleA: "{{.PageUser.Dotscale}}",
            correctLevel: QRCode.CorrectLevel.H,
            crossOrigin: 'anonymous',
            logo: {{.PageUser.Avatar}},
            logoWidth: 60,
            logoHeight: 60,
            logoBackgroundTransparent: true,
            backgroundImage: {{.PageUser.BackgroundImage}},
            backgroundImageAlpha: {{.PageUser.Backgroundimagealpha}},
            autoColor: true,
            PO: "{{.PageUser.Qrcodepdpcolor}}",
            PI: "{{.PageUser.Qrcodepdpcolor}}",
            AO: '',
            AI: '',
            timing: "{{.PageUser.Qrcodepdpcolor}}"
        };
        
        // Create QRCode Object
        new QRCode(document.getElementById("boxqrimg"), options);
    </script>
 
    <p class="uk-text-center uk-text-small">扫码向@{{ .PageUser.Name }}提问<br>谁都可以以匿名的形式提问</p>
    {{ end }}
    {{template "base/alert" .}}
    {{template "question/new-question-template" .}}

    <hr class="uk-divider-icon">
    {{ if ne (len .PageQuestions) 0 }}
    <p class="uk-text-left uk-text-muted uk-text-small">@{{ .PageUser.Name }} 以前回答过的问题 ({{ .AnsweredCount }})</p>
    {{ template "question/history-template" . }}
    {{ end }}
  </div>
</div>
{{template "base/footer" .}}
