<p class="{{ if .IsPixel }}uk-container{{end}} uk-text-right uk-text-muted uk-text-small">
  提问箱已成功存活：<span id="box_runtime"></span><br>Powered by NekoBox | {{ ICP }}
  <br>
  <a href="/pixel">画板</a> |
  <a href="https://message.acfun.cn/im?targetId=852888" target="_blank">❤私❤聊❤我❤</a>
  | <a href="https://blog.tama.guru" target="_blank">公告板</a>
  | <a href="https://box.tama.guru" target="_blank">提问箱</a>
  | <a href="https://tamakyi.github.io/statusv2" target="_blank">监控板</a>
  | <a href="https://tama.host" target="_blank">导航页</a>
</p>
<br>
</div>
</body>
</html>