<p class="{{ if .IsPixel }}uk-container{{end}} uk-text-right uk-text-muted uk-text-small">
    您是本站第<span id="busuanzi_value_site_uv"><i class="fa fa-spinner"></i></span>位访客 | 本页面已被访问<span id="busuanzi_value_page_pv"><i class="fa fa-spinner"></i></span>次
  <br>Powered by NekoBox | {{ ICP }}<br>提问箱已成功存活：<span id="box_runtime"></span>
  <br>
  <!--<a href="/pixel">画板</a> | -->
  <a href="https://box.tama.guru/_/tamakyi" target="_blank">找站长</a>
  | <a href="https://blog.tama.guru" target="_blank">公告板</a>
  | <a href="https://chat.tama.guru" target="_blank">聊天室</a>
  | <a href="https://share.tama.guru" target="_blank">盘</a>
  | <a href="https://status.tama.guru" target="_blank">监控板</a>
  | <a href="https://tama.guru" target="_blank">导航页</a>
</p>
<br>
</div>
</body>
</html>
