<p class="{{ if .IsPixel }}uk-container{{end}} uk-text-right uk-text-muted uk-text-small">
  欢迎第<span id="busuanzi_value_site_uv"></span>位小伙伴 | 本页已被访问<span id="busuanzi_value_site_pv"></span>次
  <br>Powered by NekoBox | {{ ICP }}<br>提问箱已成功存活：<span id="box_runtime"></span>
  <br>
  <!--<a href="/pixel">画板</a> | -->
  <a href="https://message.acfun.cn/im?targetId=852888" target="_blank">❤私❤聊❤我❤</a>
  | <a href="https://blog.tama.guru" target="_blank">公告板</a>
  | <a href="https://share.tama.guru" target="_blank">盘</a>
  | <a href="https://tamakyi.github.io/statusv2" target="_blank">监控板</a>
  | <a href="https://tama.host" target="_blank">导航页</a>
</p>
<br>
</div>
</body>
</html>