<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://r2.337845818.best/tamabox/cdn/expire-1-y/uikit/3.3.3/css/modify-black-font/uikit.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.snrat.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css"/>
  <link rel="stylesheet" href="https://r2.337845818.best/tamabox/cdn/waline/client/v2/waline-no-commits.css"/>
  <script src="https://cdnjs.snrat.com/ajax/libs/uikit/3.3.3/js/uikit.min.js"></script>
  <script src="https://cdnjs.snrat.com/ajax/libs/uikit/3.3.3/js/uikit-icons.min.js"></script>
  <script src="https://cdnjs.snrat.com/ajax/libs/dayjs/1.10.8/dayjs.min.js">
  </script>
  <script defer src="https://cdnjs.snrat.com/ajax/libs/alpinejs/3.9.0/cdn.min.js"/></script>
  {{ if .VConsole }}
  <script src="https://cdnjs.snrat.com/ajax/libs/vConsole/3.12.1/vconsole.min.js" type="application/javascript"></script>
  <script>new window.VConsole()</script>
  {{ end }}
  <script type="text/javascript" src="https://cdnjs.snrat.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://r2.337845818.best/tamabox/cdn/time.box.js"/></script>
  <!--<script src="https://r2.337845818.best/tamabox/cdn/busuanzi.pure.mini.js"/></script>-->
  <script defer src="https://cn.vercount.one/js"></script>
  <script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/waline/2.15.8/waline.js"></script>
  {{ if .RecaptchaTurnstileStyle }}
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?compat=recaptcha" async defer></script>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          document.querySelectorAll('.g-recaptcha').forEach(item => {
              item.disabled = true;
          });
      });

      function onSubmit() {
          document.querySelectorAll('.g-recaptcha').forEach(item => {
              item.disabled = false;
          })
      }</script>
  {{ else }}
  <script src="{{.RecaptchaDomain}}/recaptcha/api.js" async defer></script>
  <script>function onSubmit() {document.getElementById('form').submit();}</script>
  {{ end }}
  {{ if ne SentryDSN "" }}
  <script
          src="https://browser.sentry-cdn.com/7.37.2/bundle.tracing.replay.min.js"
          integrity="sha384-o0mU2P+zsvXua0Y6f/J55PKWZt3sZCv3qDqJe6J5lZklyIQkpgjBVqNnPWYWqGhf"
          crossorigin="anonymous"
  ></script>
  <script>
      Sentry.init({
          dsn: "{{ SentryDSN }}",
          integrations: [new Sentry.BrowserTracing(), new Sentry.Replay()],
          tracesSampleRate: 1.0,
          replaysSessionSampleRate: 0.1,
          replaysOnErrorSampleRate: 1.0,
      });
  </script>
  {{ end }}
  <style>
      .grecaptcha-badge {visibility: hidden;}
      .icon-container {
         display: flex;
         justify-content: center;
         width: 100%;
  }
      .icon {
         margin-left: 10px;
         width: 20px; /* 设置图标的宽度 */
         height: auto; /* 保持图标的高度自动调整 */
      }
      .emoji-placeholder {
         display: inline-block;
         animation: jump 0.5s ease-in-out;
      }

      @keyframes jump {
         0%, 100% { transform: translateY(0); }
         50% { transform: translateY(-5px); }
      }
  </style>


<!-- Commit 6d0a3ad -->
  {{ if .IsUserPage }}
   <meta property="og:image" content="{{ .PageUser.Avatar }}?og-image=1" />
   <meta property="og:image:alt" content="{{ .PageUser.Name }}" />
   <meta property="og:site_name" content="「提问箱」向我匿名提问吧~" />
   <meta property="og:type" content="website" />
   <meta property="og:title" content="「提问箱」向我匿名提问吧~" />
   <meta property="og:url" content="{{ .ExternalURL }}/_/{{ .PageUser.Domain }}" />
   <meta property="og:description" content="{{ .PageUser.Name }} 的提问箱，向我匿名提问吧~" />
   <meta itemprop="image" content="{{ .PageUser.Avatar }}?og-image=1"/>
   <meta name="msapplication-TileImage" content="{{ .PageUser.Avatar }}"/>
   <link rel="shortcut icon" href="{{ .PageUser.Avatar }}?og-image=1"/>
   <link rel="apple-touch-icon" href="{{ .PageUser.Avatar }}?og-image=1"/>
   <link rel="icon" sizes="192x192" href="{{ .PageUser.Avatar }}?og-image=1">
   <meta name="twitter:image:src" content="{{ .PageUser.Avatar }}?og-image=1" />
   {{ else }}
  <meta itemprop="image" content="https://r2.337845818.best/tamabox/tamabox_low.png"/>
  <meta name="msapplication-TileImage" content="https://r2.337845818.best/tamabox/tamabox_low.png"/>
  <link rel="shortcut icon" href="https://r2.337845818.best/tamabox/tamabox_low.png" />
  <link rel="apple-touch-icon" href="https://r2.337845818.best/tamabox/tamabox_low.png"/>
  <link rel="icon" sizes="192x192" href="https://r2.337845818.best/tamabox/tamabox_low.png">
  <meta name="twitter:image:src" content="https://r2.337845818.best/tamabox/tamabox_low.png" />
   {{ end }}

<!-- Google and Bing -->
  <meta name="google-site-verification" content="fEPwRRJfiGsgwc5SINBQwZhPK8F0cwRaOvRx0YRurI4" />
  <meta name="msvalidate.01" content="2F185E8E63C93635F50B3574F3B31E42" />
  <script defer src="https://mami.tama.guru/tamami.js" data-website-id="c42ebe8b-9281-4da0-83a4-8f18b3e710fe"></script>
</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">
    <div class="uk-navbar-center-left">
      <div>
        {{ if .IsLogged }}
        <ul class="uk-navbar-nav">
          <li><a href="/_/{{ .LoggedUser.Domain }}">{{ .LoggedUserName }}</a></li>
        </ul>
        {{ end }}
      </div>
    </div>
    <a class="uk-navbar-item uk-logo" href="/"><span class="emoji-placeholder" aria-label="随机动物符号">狼</span>的提问箱</a>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
      const emojis = ["🐺","🐗","🐻","🐨","🐼","🐹","🐭","🐰","🦊","🐮","🐷","🐽","🐸","🐒","🦍","🐔","🐧","🐦","🐤","🐦‍⬛","🦅","🦉","🦇","🐴","🦄","🐝","🦎","🦖","🦕","🐙","🦑","🦐","🦞","🦀","🐡","🐠","🐟","🐬","🐳","🐋","🦈","🐊","🐅","🐆","🦓","🦍","🦧","🐘","🦛","🦏","🐪","🐫","🦒","🦘","🐃","🐂","🐄","🐎","🐖","🐏","🐑","🦙","🐐","🦌","🐕","🐩","🦮","🐕‍🦺","🐈","🐋","🐳","🐬","🐉","🐲"];
      const placeholder = document.querySelector('.emoji-placeholder');
    
      if (placeholder) {
          placeholder.textContent = emojis[Math.floor(Math.random() * emojis.length)];
      }
    });
    </script>
    <script>
        function isEmojiSupported() {
            const ctx = document.createElement("canvas").getContext("2d");
            ctx.canvas.width = ctx.canvas.height = 1;
            ctx.fillText("🐻", -4, 4);
            return ctx.getImageData(0, 0, 1, 1).data[3] > 0;
        }        

        // 在替换前检测
        if (isEmojiSupported()) {
            // 执行 emoji 替换
        } else {
            // 回退方案：用字体图标替代
            logo.textContent = logo.textContent.replace('狼', '🐺');
        }
    </script>

    <div class="uk-navbar-center-right">
      <div>
        {{ if .IsLogged }}
        <ul class="uk-navbar-nav">
          <li><a href="/user/questions">提问</a></li>
        </ul>
        <ul class="uk-navbar-nav">
          <li><a href="/user/profile">设置</a></li>
        </ul>
        {{ else}}
        <ul class="uk-navbar-nav">
          <li><a href="/register">注册</a></li>
        </ul>
        <ul class="uk-navbar-nav">
          <li><a href="/login">登录</a></li>
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
{{ if .IsPixel }}
<div>
{{ else }}
<div class="uk-container uk-container-xsmall">
{{ end }}
