{{template "base/header" .}}
<div class="uk-card uk-card-default uk-card-body">
  <h2>关于我</h2>
  <div>
    <p>建立本站初衷是为了找一个自己出道时用的提问箱，当时正赶上很多提问箱崩掉，剩下的一些都是要么需要下载APP，需要登陆注册的那种很臃肿的提问箱。</p>
    <p>那如果提问需要后台实名，和在直播间直接提问有什么区别？就只是让主播看不到你的ID？那还不如开小号方便。</p>
    <p>另一方面，提问和回答只是个简简单单的流程，需要再单独下载个APP吗？只需要一个浏览器，谁都能直接用，这是最好的选择。</p>
    <p>本站原先使用的是<a href="https://github.com/Xinrea/JoiAsk">JoiAsk</a>的提问箱，也是一款开源的，无需注册和APP的提问箱，但无问题回复功能，估计是给答主直播回答用的，同时因为当时并未能找到一个合适的存储桶，一些静态资源加载缓慢，后面就弃用了。一段时间之后终于找到了Nekobox这个网站，内容很简单但是很完善，可惜2023年作者因为自身原因关站一段时间。好在它是开源的，一番捣鼓之后也正常运行了，在加上图片功能之后已经接近我心中理想的提问箱了。感恩作者。
  </div>
</div>
{{template "base/footer" .}}
