{{template "base/header" .}}
<div class="uk-card uk-card-default uk-card-body">
  <h2>修改记录</h2>
  <div>
    <p>为使首页更为简洁，今后修改的相关记录存档在此处（主要信息仍然会在首页提示）。</p>
  </div>
  <hr>
  <br>
  <div x-data="{ c: '' }" x-init="c = await (async () => {
    let log = (await(await fetch('https://api-direct.337845818.best/api/box-api/tamabox.changelogs.json')).json()).items[0];
    return `<p class=uk-article-meta>修改记录 - ${new Date(log.published_at).toLocaleDateString()}</p><span class=uk-text-small>${log.content}</span>`;
  })()" x-html="c">
  </div>
</div>
{{template "base/footer" .}}
