{{template "base/header" .}}
<div class="uk-card uk-card-default uk-card-body">
  <h1 class="uk-heading-small">狼的提问箱</h1>
  <p>⭐一个没有多余的社交元素的匿名提问箱。你不需要下载App，不需要绑定社交账号，甚至连邮箱都不需要是真的。<br>⭐本站在原版的基础上新增了问题页面的二维码，方便箱主能够直接通过二维码分享给他人。（微信QQ已过白名单，可直接扫码）。各位用户可自行修改二维码背景图、颜色等个性化配置。<br>⭐可以到<a href="//box.tama.guru/_/tamakyi">小狼的提问箱</a>尝试相关功能或给我提意见。<br>⭐可以加群：<a href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=rRy9g5XY34LIzOITGGmQHjX6BIICFpam&authKey=EjyNjp60KyG8BtKZGN8BXJaf1jl8okkCcUhVF2zAnGPRjhvuSdopnVqOSfSymnGg&noverify=0&group_code=777163254">小狼的群</a>一起水群。
  <hr><p>注意事项:<br>⭐如登陆提示SCRF Token错误，请刷新浏览器缓存（Shift+刷新)或使用隐私模式（一般是Shift+Ctrl+N）浏览。<br>⭐如果提示无感验证码加载错误，请切换其他网络使用。<br></p>
  <hr><p>警告：<br>⭐本站不允许垃圾信息、广告、辱骂、涉政、暴恐、色情、违禁、无意义、灌水提问的出现，如有发现，站长保留删除的权力。（已接入审核）</p>
  <hr>
    <div x-data="{ c: '' }" x-init="c = await (async () => {
    let log = (await(await fetch('https://api.tama.host/api/box-api/tamabox.importantinfomation.json')).json()).items[0];
    return `<p class=uk-article-meta>重要事件 - ${new Date(log.published_at).toLocaleDateString()}</p><span class=uk-text-small>${log.content}</span>`;
  })()" x-html="c">
  </div>
</div>
<p>提问箱信息统计:<pre style="overflow: hidden;"id="text"></pre>
<script type="text/javascript">
    $.ajax({
        url: "https://api.tama.host/api/box-api/question.count.txt",
        type: "get",
        dataType: "text",
        success: function (data) {
            $("#text").text(data);
        },
        error: function (jqXHR, status, thrown) {
            alert(thrown);
        }
    });
</script>
{{template "base/footer" .}}
